<h1>Contact page!</h1>
<hr />

<p>If you need to contact me for any reason, you can feel free to check out my details below. Otherwise, don't bother me; thanks!</p>

<ul>
	<li>Justin Ewalt</li>
	<li>801-989-2769</li>
	<li>justinewalt@gmail.com</li>
</ul>
