<html>
	<head>
		<title>About Me Website</title>
		<link href="/stylesheets/main.css" rel="stylesheet">
	</head>
	<body>
		<%= yield %>

		<footer class="links">
			<a href="/">Home</a>
			<a href="/resume">Resume</a>
			<a href="/contact">Contact</a>
		</footer>
	</body>
</html>