<h1>Check out my Resume, bro!</h1>
<h3>Doesn't it scream "HIRE ME!"</h3>
<hr />

<h5>Work Experience<h5>
<dl>
	<dt>Positive Learning</dt>
	<dd>I worked for Positive Learning from May 2015 through January 2016 in Sales and Business Development.
	<dt>2nd Story Capital</dt>
	<dd>I worked for 2nd Story Capital from its incepetion in November 2014 to May 2015. As an Associate of the firm, I was tasked with reviewing and potential investments and doing the pre interviews with clients while also providing Inside Sales consulting.
	<dt>ParentLink</dt>
	<dd>I worked with ParentLink from April 2012 to November 2014 as a Senior Account Representative.
<dl>
